
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
*{
    color: #888
}

body{
    overflow-x: hidden;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,
a,p{
    font-family: 'Open Sans', sans-serif;
}
i.fa{
    margin-left: 5px;
    margin-right: 5px;
}
i.fa-spinner{
    color: #fff;
    margin-left: 0
}
span.astrix{
    color: #ff0000
}
a:hover{
    color: inherit;
}
.main-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-primary{
    display: inline-block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    cursor: pointer;
    margin-bottom: 5px;
}
.btn-primary.small{
    padding: 10px 15px;
    font-weight: normal;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-primary.danger{
    background-color: #F04124
}
.btn-primary.success{
    background-color: #43AC6A
}
.highlight-alert{
    margin-bottom: 10px;
}
.highlight{
    padding: 4px 8px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}
.highlight.tos,
.highlight.success{
    background-color: #d6f0c3;
    color: #7b9d62;
}
.highlight.red{
    background-color: #e74c3c;
    color: #F9A098;
}
header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #2c3e50;
    overflow: hidden;
    margin-bottom: 50px;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"], textarea{
    border-radius: 0;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    color: #5f5f5f;
    padding: 0 12px;
    height: 2.5rem
}

textarea{
    padding-top: 4px;
    padding-bottom: 4px;
}

.form-basic{
    position: relative;
    padding-bottom: 0;
}

.form-basic fieldset,
.form-login .form-white-background {
    background: #fff;
    padding: 40px 20px 0 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-basic fieldset label{
    line-height: 2rem;
    font-weight: bold;
    color: #5f5f5f
}
.form-login fieldset{
    box-shadow: none;
    border: none
}
.form-basic .row{
    margin-bottom: 2px;
}

.form-basic h4{
    box-sizing: border-box;
    color: #4c565e;
    font-size: 20px;
    display: inline-block;
    background: #fff;
    position: absolute;
    top: -16px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    left: 10px;
}
.form-login{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;
}
.form-login .medium-offset-3 {
    text-align: left;
}
.form-log-in-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 130px;
    text-align: center;
}

.form-log-in-with-email .form-white-background{
    width: 570px;
    box-sizing: border-box;
    padding: 60px 80px;
    margin-bottom: 32px;
}

.form-log-in-with-email .form-row{
    text-align: left;
    margin-bottom: 23px;
}

.form-log-in-with-email .form-title-row{
    text-align: center;
    margin-bottom: 60px;
}

.form-log-in-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 30px 15px;
    border-bottom: 2px solid #6caee0;
    margin:0;
}

.form-log-in-with-email .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 25px;
}

.form-log-in-with-email input{
    color:  #5f5f5f;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
    font-weight: normal;
}

.form-log-in-with-email .form-forgotten-password,
.form-log-in-with-email .form-create-an-account{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
}

.form-log-in-with-email .form-forgotten-password{
    color:  #4e9eda;
}

.form-log-in-with-email .form-create-an-account{
    color:  #7b9d62;
    background-color: #d6f0c3;
}

.form-log-in-with-email:after{
    content: 'OR';
    position: absolute;
    bottom: 260px;
    right: -100px;

    border-radius: 50%;
    background-color: #edeca5;
    width: 50px;
    height: 50px;
    color: #93923b;
    font-size: 17px;
    line-height: 50px;
}
.form-forgot-password .form-log-in-with-email {
    margin-right: 0
}
.form-forgot-password .form-log-in-with-email:after {
    content: ' ';
    border: none;
    background: none;
}
.form-sign-in-with-social{
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-top: 70px;
}

.form-sign-in-with-social .form-title-row{
    margin-bottom: 50px;
}

.form-sign-in-with-social .form-title{
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 20px;
    border-bottom: 2px solid #6caee0;
}

.form-sign-in-with-social .form-google-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(222, 110, 60, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-facebook-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(75, 136, 194, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.form-sign-in-with-social .form-twitter-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(123, 195, 226, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

/*	Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

    .form-login{
        margin: 20px auto;
    }

    .form-log-in-with-email{
        position: relative;
        display: block;
        margin: 0 0 50px;
    }

    .form-log-in-with-email .form-white-background{
        margin: 0 auto 32px;
    }

    .form-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .form-sign-in-with-social{
        margin-top: 60px;
    }

}

@media (max-width: 600px) {

    .form-log-in-with-email .form-white-background{
        width: 300px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .form-log-in-with-email .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .form-log-in-with-email .form-email,
    .form-log-in-with-email .form-password{
        display: block;
        margin: 0 auto;
    }

    .form-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .form-log-in-with-email .form-forgotten-password,
    .form-log-in-with-email .form-create-an-account{
        display: block;
        margin: 5px auto;
        max-width: 180px;
    }

}

.button{
    font-weight: bold
}

.validation-error{
    border-color: #FFA5A5;
    box-shadow: 1px 2px 4px 0 rgba(252, 222, 222, 0.08)
}

.validation-input-error {
    background-color: #f04124;
    color: #ffffff;
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -1rem;
    padding: 0.2rem 0.4rem;
}

.btn-signup-group {
    position: static;
    display: block
}

@media only screen and (max-width: 637px){
    .form-basic{
        padding-bottom: 100px;
    }

    .btn-signup-group {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
}

/** dashboard */
.inner-wrap {
    width: auto;
}

.move-right .inner-wrap {
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;

}

.left-off-canvas-menu {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: fixed;
    width: 0;
    height: 100%;
    background: #2c3e50;
}

.move-right .left-off-canvas-menu {
    width: 260px;
}

.move-right .exit-off-canvas {
    display: none;
}

.left-off-canvas-toggle {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: #333;
    transition: all .25s ease-in-out;
}
.left-off-canvas-toggle:focus {
    color: #333;
}
.left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out;
}

.ad-block {
    margin-bottom: 2rem;
}
.left-off-canvas-menu .logo{
    border-bottom: 1px solid #7f8c8d;
    padding: 10px 15px;
    text-align: center
}
.left-off-canvas-menu .logo a{
    display: block;
    font-size: 24px;
    color: #ecf0f1
}
.left-off-canvas-menu .sidebar-nav {

}

.left-off-canvas-menu .sidebar-nav > li {
    list-style: none
}

.left-off-canvas-menu .sidebar-nav > li > a{
    display: block;
    padding: 15px 30px;

}

.left-off-canvas-menu .sidebar-nav > li > a:hover{
    background: #071626;
    color: #ecf0f1
}

.content {
    background: #F7F7F8;
    min-height: 100%;
    position: relative;
    z-index: 2;
}
.content .inner-content{
    background: #fff;
    padding: 15px;
    margin: 15px;
    border: 1px solid #ededed;
}
.content nav{
    background: #fff;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-top: 2px solid #2c3e50
}
.content nav .logo{
    display: inline-block;
    padding: 15px 30px;
}
.content nav .menu-right-nav{
    float: right;
    display: inline-block
}
.content nav .menu-right-nav > li{
    float: left;
    list-style: none
}
.content nav .menu-right-nav > li > a{
    display: block;
    padding: 15px 30px;
}
.content nav .menu-right-nav > li > a:hover{
    background: #bdc3c7;
    color: #3D566E
}
.user-dashboard h4{
    line-height: 1.5;
    color: #222;
    letter-spacing: 1px
}
.user-dashboard button{
    margin-left: 4px;
    margin-right: 4px;
}
.user-dashboard i.fa{
    color: #fff;
    margin-left: 0
}
.table{
    width: 100%;
}
.user-dashboard th{
    color: #222
}
.table-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-wrapper .btn.small{
    margin-left: 15px;
    margin-right: 15px;
}
.form-regular label,
.form-regular fieldset label{
    font-weight: normal;
    text-align: right
}
.form-profile fieldset label{
    font-weight: normal
}
.form-profile .profile-picture-upload{
    height: 2.5rem;
    margin: 0 0 1rem;
}
.ajax-file-upload{
    display: inline-block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: normal;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
    margin-bottom: 5px;
}
.form-profile .ajax-file-upload-filename{
    display: none
}

/*custom modal*/
.reveal {
    padding: 0;
    border: none;
}
.reveal .modal-header{
    padding: 1rem;
    background: #34495e;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}
.reveal .modal-body {
    padding: 1rem;
    text-align: left;
}
.reveal .close-reveal-modal {
    position: absolute;
    right: 1rem;
    top: 1rem
}
.reveal .close-reveal-modal i.fa-times{
    color: #fff;
}
/*.breadcrumbs {
    border-bottom: 1px solid #ecf0f1
}*/
.client-property{
    margin-bottom: 10px;
}
.template-header{
    border-bottom: 1px solid #ccc
}
.template-tbl-fields{
    padding-left: 15px;
    padding-right: 15px;
}
.template-tbl-fields small{
    font-size: 12px;
    font-weight: normal
}
.template-tbl-fields .field-edit,
.template-tbl-fields .template-delete{
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block
}
.template-tbl-fields i.fa{
    color: #fff
}
th.center,
td.center{
    text-align: center
}
.page-dropdown-w{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top
}
.page-dropdown {
    display: inline-block;
    width: 75px;
}
.page-action {
    padding: 15px;
}
.page-action button{
    vertical-align: top
}
.cp-color-picker{
    z-index: 9999
}
.page-action .ajax-file-upload-container{
    display: none
}
.template-upload {
    display: inline-block
}
.template-upload .ajax-file-upload{
    display: block;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 0;
    background: #2199e8;
    font-size: 0.75rem;
    padding: 0.85em 1em;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1;
    border: 1px solid transparent
}
.form-edit-fields .item{
    border-bottom: 1px solid #ccc;
}
.form-edit-fields .item:last-child {
    border-bottom: none
}

.rgb_font_color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(0,0,0);
    margin: auto
}
.template-body .page-image{
    padding: 15px;
    margin: 10px;
}
 @media screen and (min-width: 40em) {
    .reveal.medium {
      width: 65%;
      max-width: 100%; }
 }

canvas.panel {
    display:block;
    width: 99%;
    height: 100%;
    border:1px solid #ccc;
}
.pageimage{

    margin-bottom: 15px;
}
.canvas-container{
    width: 100% !important
}
.page-image-control {
    margin-bottom: 15px;
}
ul.unstyled {
    list-style: none;
    display: inline-block;
    margin: 0;
}
.alert-box.danger{
    color: #F04124;
}
.alert-box.success{
    color: #43AC6A;
}
table.dataTable tbody tr.row-highlighted,
table.dataTable tbody tr.row-selected{
    background-color: #F6F6F6
}
table.dataTable tbody th,
table.dataTable tbody td {
	padding: 5px;
}
.save-placement {
    margin-right: 15px;
}
svg{
    border:1px solid #ccc;
}
.show-password{
    cursor: pointer
}

.template-body{
    margin-top: 15px;
}
.upload-page-image-btn{
    display: inline-block
}
.form-preview i.fa{
    color: #fff;
    margin-left: 3px;
    margin-right: 3px;
}
.page-action button{
    margin-right: 3px;
    margin-left: 3px;
}
.postfix {
    display: block;
    line-height: 2.05556rem;
    height: 2.05556rem
}